In [11]:
import requests
import json
import pandas as pd
import os
import numpy as np
import hvplot.pandas
from utils.utils import coin_gecko_cleaner
%matplotlib inline

In [12]:
BAYC_df = pd.read_csv('BAYCPriceHistory.csv')

In [13]:
display(BAYC_df)

,\tdatetime\tprice,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,0\t2021-07-30T00:00:00.000Z\t5.5853,NaN,NaN,NaN,NaN
1,1\t2021-07-30T08:00:00.000Z\t5.4953,NaN,NaN,NaN,NaN
2,2\t2021-07-30T16:00:00.000Z\t5.4547,NaN,NaN,NaN,NaN
3,3\t2021-07-31T00:00:00.000Z\t5.5301,NaN,NaN,NaN,NaN
4,4\t2021-07-31T08:00:00.000Z\t6.3304,NaN,NaN,NaN,NaN
...,...,...,...,...,...
946,946\t2022-06-10T08:00:00.000Z\t91.5888,NaN,NaN,NaN,NaN
947,947\t2022-06-10T16:00:00.000Z\t90.2698,NaN,NaN,NaN,NaN
948,948\t2022-06-11T00:00:00.000Z\t89.2813,NaN,NaN,NaN,NaN
949,949\t2022-06-11T08:00:00.000Z\t88.0673,NaN,NaN,NaN,NaN
950,950\t2022-06-11T13:15:22.730Z\t86.99,NaN,NaN,NaN,NaN

In [21]:
BAYC_df['\tdatetime\tprice'].dtypes

dtype('O')

In [28]:

BAYC_df['\tdatetime\tprice'].dtypes


BAYC_df['new'] = BAYC_df['\tdatetime\tprice'].str.split('\t')

display(BAYC_df)

,\tdatetime\tprice,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,new
0,0\t2021-07-30T00:00:00.000Z\t5.5853,NaN,NaN,NaN,NaN,"[0, 2021-07-30T00:00:00.000Z, 5.5853]"
1,1\t2021-07-30T08:00:00.000Z\t5.4953,NaN,NaN,NaN,NaN,"[1, 2021-07-30T08:00:00.000Z, 5.4953]"
2,2\t2021-07-30T16:00:00.000Z\t5.4547,NaN,NaN,NaN,NaN,"[2, 2021-07-30T16:00:00.000Z, 5.4547]"
3,3\t2021-07-31T00:00:00.000Z\t5.5301,NaN,NaN,NaN,NaN,"[3, 2021-07-31T00:00:00.000Z, 5.5301]"
4,4\t2021-07-31T08:00:00.000Z\t6.3304,NaN,NaN,NaN,NaN,"[4, 2021-07-31T08:00:00.000Z, 6.3304]"
...,...,...,...,...,...,...
946,946\t2022-06-10T08:00:00.000Z\t91.5888,NaN,NaN,NaN,NaN,"[946, 2022-06-10T08:00:00.000Z, 91.5888]"
947,947\t2022-06-10T16:00:00.000Z\t90.2698,NaN,NaN,NaN,NaN,"[947, 2022-06-10T16:00:00.000Z, 90.2698]"
948,948\t2022-06-11T00:00:00.000Z\t89.2813,NaN,NaN,NaN,NaN,"[948, 2022-06-11T00:00:00.000Z, 89.2813]"
949,949\t2022-06-11T08:00:00.000Z\t88.0673,NaN,NaN,NaN,NaN,"[949, 2022-06-11T08:00:00.000Z, 88.0673]"
950,950\t2022-06-11T13:15:22.730Z\t86.99,NaN,NaN,NaN,NaN,"[950, 2022-06-11T13:15:22.730Z, 86.99]"

In [29]:


#make appropriate columns for the 'new' data, convert the date time to date time, run trigger script and define timeframe
# Talk about my classwork and what I will eventually be doing in module 3
# How to get appropriate historical data from each data provider?
# Duplicate model to determine which is better- RRP or something else 
# Standardization of data requirements - getting that upfront from our data providers is imeritive
# How to build 'historical' data sets by pulling current data
# Have the contract acknowledge that if volatility exceeds x range then possibly readjust. Make monitoring tools to keep tabs on that.